.vs
*.bak-mo
.idea
CMakeSettings.json
CSource/cmake-build*
CSource/out/*

SMArtInt/Resources/Library/win64/*
!SMArtInt/Resources/Library/win64/Delay-V1.lib
!SMArtInt/Resources/Library/win64/SMArtInt.dll
!SMArtInt/Resources/Library/win64/tensorflowlite_c.dll
!SMArtInt/Resources/Library/win64/onnxruntime_c.dll

CSource/build*/

SMArtInt/Resources/ExampleNeuralNets/NNHeatTransfer/ht_log
SMArtInt/Resources/ExampleNeuralNets/NNHeatTransfer/large*
SMArtInt/Resources/ExampleNeuralNets/NNHeatTransfer/small*
SMArtInt/Resources/ExampleNeuralNets/NNHeatTransfer/*.pckl
SMArtInt/Resources/ExampleNeuralNets/NNHeatTransfer/savedmodel*

SMArtInt/Resources/ExampleNeuralNets/PIController/savedmodel*

_dymWork/*
_deploy/*
_cmake*
cmake_*